/* RecipeCard.module.css */

.cardWrapper {
  width: 450px; /* Ширина на картата */
  padding: 20px; /* Вътрешен падинг */
  padding-bottom: 10px; /* Падинг отдолу */
  border: 1px solid #cf9359; /* Бежова рамка */
  border-radius: 8px; /* Скругление на ъглите */
  background-color: #f3f3ee; /* Фонов цвят */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Лека сянка */
  text-align: center; /* Центрира текста */
  box-sizing: border-box; /* Включва падинга и бордера в общата ширина */
  margin-top: 40px; /* Външен падинг отгоре - увеличен */
}

.card {
  width: 100%;
  height: 450px; /* Височина на изображението */
  overflow: hidden;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Изрязване на изображението */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  margin-top: 15px;
  font-size: 1.5em;
}

.description {
  margin-top: 10px;
}
