.footer {
  width: 960px;
  margin: 0 auto;
  margin-top: 40px; /* Намалено разстояние от горната част на футера до предходния елемент */
  padding-top: 10px; /* Намалено разстояние от горната част на футера до първия ред с текста */
  padding-bottom: 20px; /* Намалено разстояние от долната част на футера до края на съдържанието */
  overflow: hidden;
}

.footer p {
  text-align: center;
  color: #cf9359;
  margin-bottom: 10px; /* Намалено разстояние между двата параграфа */
}

.footer a {
  color: #cf9359; /* Цвета на линка, ако искаш да е различен от текста */
  text-decoration: none; /* Премахване на подчертаването на линка */
}

.footer a:hover {
  text-decoration: underline; /* Подчертаване на линка при hover */
}
